html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000;
  font-family: sans-serif;
}

input[type="range"] {
  appearance: none;
  background: transparent;
  border-radius: 5px;
  height: 12px;
  outline: none;
  position: relative;
  z-index: 1000;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  margin-top: -4px;
  border-radius: 50%;
  background: #448;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.8);
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  box-shadow: none;
  border: none;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: inherit;
}

